@font-face {
  font-family: "NeuzeitSLTStd-Book";
  src: url("fonts/NeuzeitSLTStd-Book.woff") format("woff"); }
@font-face {
  font-family: "NeuzeitSLTStd-BookHeavy";
  src: url("fonts/NeuzeitSLTStd-BookHeavy.woff") format("woff"); }
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }
  body a:link {
    color: black;
    text-decoration: none;
    cursor: pointer; }
  body a:visited {
    color: black;
    text-decoration: none;
    cursor: pointer; }
  body a:hover {
    color: lightgray;
    cursor: pointer; }
  body a:active {
    color: lightgray;
    cursor: pointer; }
  body .category {
    font-size: 14px; }
  body .header1 {
    font-size: 42px;
    line-height: 44px;
    font-family: NeuzeitSLTStd-Book;
    margin: 0;
    margin-top: 1.5%; }
  body .header1_text {
    font-size: 42px;
    font-family: NeuzeitSLTStd-BookHeavy;
    line-height: 44px;
    margin: 0; }
  body .header2_text {
    font-size: 24px;
    font-family: NeuzeitSLTStd-BookHeavy;
    line-height: 25px;
    margin: 0; }
  body .header2 {
    font-size: 24px;
    font-family: NeuzeitSLTStd-Book;
    line-height: 25px;
    margin: 0; }
  body .body_title {
    font-size: 18px;
    font-family: NeuzeitSLTStd-BookHeavy;
    line-height: 20px;
    margin: 0; }
  body .body_text {
    font-size: 14px;
    line-height: 18px;
    font-family: NeuzeitSLTStd-Book;
    margin: 0; }
  body .body_bold {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    font-family: NeuzeitSLTStd-BookHeavy; }
  body .bold {
    font-family: NeuzeitSLTStd-BookHeavy; }
  body .info {
    font-size: 11px;
    line-height: 13px;
    margin: 0;
    font-family: NeuzeitSLTStd-Book; }
  body .read {
    margin-top: 1%; }

.wrap {
  height: 100%;
  float: left;
  width: 50%; }

.vertical_line {
  float: left;
  width: 2px;
  height: 100%;
  background-color: black; }

#view_left {
  overflow: scroll;
  height: 100%;
  float: left;
  width: 50%; }
  #view_left .header {
    width: inherit;
    border-bottom: 2px black solid;
    margin: 0;
    height: 60px;
    display: inline-flex;
    position: fixed;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9); }
    #view_left .header .navigation {
      width: 30%;
      margin-top: 1%;
      margin-left: 2%;
      font-family: NeuzeitSLTStd-Book; }
      #view_left .header .navigation a:link {
        color: black;
        text-decoration: none;
        cursor: pointer; }
      #view_left .header .navigation a:visited {
        color: black;
        text-decoration: none;
        cursor: pointer; }
      #view_left .header .navigation a:hover {
        color: lightgray;
        cursor: pointer; }
      #view_left .header .navigation a:active {
        color: lightgray;
        cursor: pointer; }
    #view_left .header #navi1 {
      margin-left: 4%; }
  #view_left .column3 {
    display: inline-flex;
    margin: 0;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    top: 60px;
    /* .column3{
         width: 30%;
         margin-left: 1%;
         margin-top: 1%;
     }*/ }
    #view_left .column3 .column3_1 {
      margin: 35px 4% 4% 4%;
      width: 28%;
      min-width: 200px;
      position: relative; }
      #view_left .column3 .column3_1 img {
        width: 100%; }
    #view_left .column3 .column3_2 {
      margin: 35px 4% 4% 0;
      width: 28%;
      min-width: 200px;
      position: relative;
      font-size: 0.6875em; }
      #view_left .column3 .column3_2 img {
        width: 100%; }
    #view_left .column3 .column3_2col {
      margin: 35px 0 4% 0;
      width: 59%;
      min-width: 300px;
      position: relative; }
      #view_left .column3 .column3_2col img {
        width: 100%; }
    #view_left .column3 .column3_3col {
      margin: 35px 0 2% 3%;
      width: 92%;
      min-width: 300px;
      position: relative; }
      #view_left .column3 .column3_3col img {
        width: 100%; }
    #view_left .column3 .column3_4 {
      margin: 35px 0 2% 4%;
      width: 76%;
      min-width: 300px;
      position: relative; }
      #view_left .column3 .column3_4 img {
        width: 100%; }
    #view_left .column3 .readmore {
      margin: 0% 0 2% 4%;
      width: 76%;
      min-width: 300px;
      position: relative; }
      #view_left .column3 .readmore img {
        height: 400px; }
    #view_left .column3 #margin-top0 {
      margin-top: 0; }
    #view_left .column3 #whitezin_info {
      margin: 35px 4% 4% 4%;
      width: 28%;
      min-width: 200px;
      position: relative;
      align-self: flex-end;
      min-width: 168px; }
  #view_left .issues {
    display: inline-flex;
    margin: 0;
    margin-top: 10%;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap; }
    #view_left .issues .column3 {
      width: 30%;
      margin-left: 1%;
      margin-top: 1%;
      height: 460px; }
      #view_left .issues .column3 img {
        width: 100%; }
      #view_left .issues .column3 p {
        font-size: 12px;
        font-weight: 600;
        vertical-align: bottom; }
    #view_left .issues .col_left {
      margin-left: 4%; }
  #view_left #submit {
    background-color: #000000;
    color: #fff;
    height: 20px;
    width: 60px;
    border: 1px solid black;
    cursor: pointer;
    font-family: NeuzeitSLTStd-Book;
    font-size: 14px;
    vertical-align: 5px; }
  #view_left #submit:hover {
    opacity: 0.5; }
  #view_left .read {
    background-color: white;
    border: none;
    color: black;
    height: 20px;
    cursor: pointer;
    font-family: NeuzeitSLTStd-Book;
    font-size: 14px; }
  #view_left #submit:hover {
    opacity: 0.5; }
  #view_left .column3 :hover img {
    opacity: 0.7;
    transition: 0.2s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }

.view_right {
  overflow: scroll;
  height: 100%;
  float: left;
  width: 50%;
  align-items: flex-start;
  flex-wrap: wrap; }
  .view_right .header {
    width: inherit;
    border-bottom: 2px black solid;
    margin: 0;
    height: 60px;
    display: inline-flex;
    position: fixed;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9); }
    .view_right .header .navigation2 {
      width: 45%;
      margin-top: 1%;
      margin-left: 2%;
      z-index: 1000;
      font-family: NeuzeitSLTStd-Book; }
      .view_right .header .navigation2 a:hover {
        color: lightgray;
        cursor: pointer; }
    .view_right .header #navi1 {
      margin-left: 4%; }
  .view_right .column4 {
    display: inline-flex;
    margin: 0;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    float: left;
    position: relative;
    top: 60px;
    /* .column3{
         width: 30%;
         margin-left: 1%;
         margin-top: 1%;
     }*/ }
    .view_right .column4 .column4_1 {
      margin: 35px 0 4% 4%;
      width: 22%;
      min-width: 150px;
      position: relative;
      font-size: 0.75em;
      line-height: 16px; }
    .view_right .column4 .column4_2 {
      margin: 35px 0 4% 1%;
      width: 22%;
      min-width: 150px;
      position: relative;
      font-size: 0.75em;
      line-height: 16px; }
    .view_right .column4 .column4_2col {
      margin: 35px 0 0% 4%;
      width: 44%;
      min-width: 300px;
      position: relative;
      font-size: 0.75em;
      line-height: 16px; }
      .view_right .column4 .column4_2col img {
        width: 100%; }
    .view_right .column4 .column4_2col_2 {
      margin: 35px 0 0% 3%;
      width: 44%;
      min-width: 300px;
      position: relative;
      font-size: 0.75em;
      line-height: 16px; }
      .view_right .column4 .column4_2col_2 img {
        width: 100%; }
    .view_right .column4 .column4_4col {
      margin: 35px 0 4% 4%;
      width: 92%;
      position: relative;
      font-size: 0.75em;
      line-height: 16px; }
      .view_right .column4 .column4_4col img {
        width: 100%; }
    .view_right .column4 #projects_list {
      letter-spacing: 0.7;
      font-family: NeuzeitSLTStd-Book; }
    .view_right .column4 .projects_title {
      font-weight: 600;
      margin: 0;
      font-family: NeuzeitSLTStd-BookHeavy; }
    .view_right .column4 .projects_img_hover {
      top: 0;
      left: 0;
      margin-left: -1%;
      opacity: 0;
      position: absolute;
      font-size: 0.75em;
      line-height: 16px; }
      .view_right .column4 .projects_img_hover img {
        width: 100%; }
    .view_right .column4 #projects_detail_title {
      margin: 0% 0 4% 4%; }
    .view_right .column4 #projects_detail_des {
      margin: 0% 0 4% 3%;
      width: 44%; }
  .view_right .column4 :hover img {
    transition: 0.3s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }

.bubble {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  background: blue; }

iframe {
  width: 200%;
  height: 100%; }

iframe.video {
  width: 100%;
  height: 50%; }

@media screen and (max-width: 1600px) {
  body .body_bold {
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    font-family: NeuzeitSLTStd-BookHeavy; } }
@media screen and (min-device-width: 1281px) and (max-width: 1500px) {
  body .category {
    font-size: 14px; }
  body .header1 {
    font-size: 32px;
    line-height: 34px;
    font-family: NeuzeitSLTStd-Book;
    margin: 0;
    margin-top: 1.5%; }
  body .header1_text {
    font-size: 32px;
    font-family: NeuzeitSLTStd-BookHeavy;
    line-height: 34px;
    margin: 0; }
  body .header2_text {
    font-size: 18px;
    font-family: NeuzeitSLTStd-BookHeavy;
    line-height: 20px;
    margin: 0; }
  body .header2 {
    font-size: 24px;
    font-family: NeuzeitSLTStd-Book;
    line-height: 25px;
    margin: 0; }
  body .body_title {
    font-size: 18px;
    font-family: NeuzeitSLTStd-BookHeavy;
    line-height: 20px;
    margin: 0; }
  body .body_text {
    font-size: 12px;
    line-height: 15px;
    font-family: NeuzeitSLTStd-Book;
    margin: 0; }
  body .body_bold {
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    font-family: NeuzeitSLTStd-BookHeavy; }
  body .bold {
    font-family: NeuzeitSLTStd-BookHeavy; }
  body .info {
    font-size: 11px;
    line-height: 13px;
    margin: 0;
    font-family: NeuzeitSLTStd-Book; }
  body .read {
    margin-top: 1%; }
  body #view_left .column3 .column3_1 {
    margin: 35px 0% 4% 4%;
    width: 44%;
    min-width: 250px;
    position: relative; }
    body #view_left .column3 .column3_1 img {
      width: 100%; }
  body #view_left .column3 .column3_2 {
    margin: 35px 0% 4% 4%;
    width: 44%;
    min-width: 250px;
    position: relative;
    font-size: 0.6875em; }
    body #view_left .column3 .column3_2 img {
      width: 100%; }
  body #view_left .column3 #whitezin_info {
    margin: 35px 4% 4% 4%;
    width: 28%;
    min-width: 200px;
    position: relative;
    align-self: flex-end;
    min-width: 168px; }
  body .view_right .column4 .column4_2col {
    margin: 30px 0 0% 4%;
    width: 44%;
    min-width: 300px;
    position: relative;
    font-size: 0.75em;
    line-height: 16px; }
    body .view_right .column4 .column4_2col img {
      width: 100%; }
  body .view_right .column4 .column4_2col_2 {
    margin: 30px 0 0% 3%;
    width: 44%;
    min-width: 300px;
    position: relative;
    font-size: 0.75em;
    line-height: 16px; }
    body .view_right .column4 .column4_2col_2 img {
      width: 100%; } }
@media screen and (max-width: 1290px) {
  body .view_right .column4 {
    display: inline-flex;
    margin: 0;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    float: left;
    position: relative;
    top: 60px; }
    body .view_right .column4 .column4_2col {
      margin: 30px 0 0% 4%;
      width: 92%;
      min-width: 300px;
      position: relative;
      font-size: 0.75em;
      line-height: 16px; }
      body .view_right .column4 .column4_2col img {
        width: 100%; }
    body .view_right .column4 .column4_2col_2 {
      margin: 30px 0 0% 4%;
      width: 92%;
      min-width: 300px;
      position: relative;
      font-size: 0.75em;
      line-height: 16px; }
      body .view_right .column4 .column4_2col_2 img {
        width: 100%; }
    body .view_right .column4 #projects_detail_des {
      margin: -3% 0 4% 4%;
      width: 92%; } }

/*# sourceMappingURL=style.css.map */
