body{
    margin: 0;
    padding: 0;
    font-family: NeuzeitS;
    
        a:link{
                    color:black;
                    text-decoration: none;
                    cursor: pointer;
                }
        a:visited{
            color:black;
            text-decoration: none;
            cursor: pointer;
        }
        a:hover {
            color:lightgray;
            cursor: pointer;
        }
        a:active {
            color:lightgray;
            cursor: pointer;
        }
        .header1{
            font-size: 42px;
            line-height: 42px;
            font-weight: 500;
            margin:0;
            margin-top:1.5%;
        }
        .header1_text{
            font-size: 42px;
            font-weight: 600;
            line-height: 42px;
            margin:0;
        }
        .header2_text{
            font-size: 24px;
            font-weight: 600;
            line-height: 25px;
            margin:0;
        }
        .body_title{
            font-size: 18px;
            font-weight: 600;
            line-height: 20px;
            margin:0;
        }
        .body_text{
            font-size: 12px;
            line-height: 16px;
            font-weight: 300px;
            margin:0;
        }
        .body_bold{
            font-size: 12px;
            line-height: 16px;
            margin:0;
            font-weight: 600;
        }
        .bold{
            font-weight: 600;
        }
        .info{
            font-size: 11px;
            line-height: 13px;
            margin:0;
        }
        
            
                
}


.view{
    height: 100%;
    width: 50%;
    float: left;
    
}

.vertical_line{
    float: left;
    width: 2px;
    height: 100%;
    background-color: black;
}
    
    
#view_left{
    width: 50%;
    height: 100%;
    overflow: scroll;

        .header{
            width: inherit;
            border-bottom: 2px black solid;
            margin: 0;
            height: 60px;
            display: inline-flex;
            font-size:14px;
            position: fixed;
            z-index: 100;
            background-color: rgba(255,255,255,0.9);
            
            
            .navigation{
                width: 30%;
                margin-top: 1%;
                margin-left:1%;
                
            
                a:link{
                    color:black;
                    text-decoration: none;
                    cursor: pointer;
                }
                a:visited{
                    color:black;
                    text-decoration: none;
                    cursor: pointer;
                }
                a:hover {
                    color:lightgray;
                    cursor: pointer;
                }
                a:active {
                    color:lightgray;
                    cursor: pointer;
                }
                
               
            }
            #navi1{
                margin-left: 4%;
            }
            
        }
        .column3{
            display: inline-flex;
            margin: 0;
            margin-top:7%;
            width:100%;
            align-items: flex-start;
            flex-wrap: wrap;

           /* .column3{
                width: 30%;
                margin-left: 1%;
                margin-top: 1%;
            }*/
            
            .column3_1{
                margin: 3% 0 4% 4%;
                width: 28%;
                min-width: 250px;
                position: relative;
                
                img{
                    width: 100%;
                }
                
            }
            .column3_2{
                margin: 3% 0 4% 3%;
                width: 28%;
                
                min-width: 250px;
                position: relative;
                font-size: 0.6875em;
                img{
                    width: 100%;
                }
            }
            .column3_2col{
                margin: 3% 0 4% 3%;
                width: 60%;
                min-width: 350px;
                position: relative;
                 
                img{
                    width: 100%;
                }
            }
            .column3_3col{
                margin: 3% 0 2% 3%;
                width: 92%;
                min-width: 350px;
                position: relative;
                 
                img{
                    width: 100%;
                }
            }
            
            #margin-top0{
                margin-top: 0;
            }
            
            #whitezin_info{
                align-self: flex-end;
                min-width: 168px;
            }
            
           

       }
    
       .issues{
           display: inline-flex;
            margin: 0;
           margin-top: 10%;
            width:100%;
            align-items: flex-start;
           flex-wrap: wrap;
           

            .column3{
                width: 30%;
                margin-left: 1%;
                margin-top: 1%;
                height: 460px;
                
                img{
                    width: 100%;
                }
                p{
                    font-size: 12px;
                    font-weight: 600;
                    vertical-align: bottom
                }
            }
            .col_left{
               margin-left: 4%;
           }
            
       }
            
    
    
    

}
























#view_right{
    width: 49.8%;
    height: 100%;
    overflow: scroll;

        .header{
            width: inherit;
            border-bottom: 2px black solid;
            margin: 0;
            height: 60px;
            display: inline-flex;
            font-size:14px;
            position: fixed;
            z-index: 100;
            background-color: rgba(255,255,255,0.9);
                     
            
            .navigation{
                width: 45.2%;
                margin-top: 1%;
                margin-left:1%;
                
                a:hover{
                    color:lightgray;
                    cursor: pointer;
                }
            }
            #navi1{
                margin-left: 4%;
            }
            
            
        }
        
    .column4{
            display: inline-flex;
            margin: 0;
            margin-top:7%;
            width:100%;
            align-items: flex-start;
            flex-wrap: wrap;

           /* .column3{
                width: 30%;
                margin-left: 1%;
                margin-top: 1%;
            }*/
            
            .column4_1{
                margin: 3% 0 4% 4%;
                width: 21%;
                min-width: 150px;
                position: relative;
                font-size: 0.75em;
                line-height: 16px;
            }
        
            .column4_2{
                margin: 3% 0 4% 2%;
                width: 21%;
                min-width: 150px;
                position: relative;
                font-size: 0.75em;
                line-height: 16px;
            }
            .column4_2col{
                margin: 3% 0 0% 4%;
                width: 44%;
                position: relative;
                font-size: 0.75em;
                line-height: 16px;
                
                img{
                    width: 100%;
                    
                    
                }
            }
            .column4_2col_2{
                margin: 3% 0 0% 2%;
                width: 44%;
                position: relative;
                font-size: 0.75em;
                line-height: 16px;
                
                img{
                    width: 100%;
                }
            }
            .column4_4col{
                margin: 3% 0 4% 4%;
                width: 90%;
                position: relative;
                font-size: 0.75em;
                line-height: 16px;
                
                img{
                    width: 100%;
                    
                }
            }
        
            
            
            #projects_list{
                letter-spacing: 0.7;
            }
            #projects_img_hover{
                opacity: 0;
            }
            .projects_title{
                font-weight: 600;
                margin: 0;
            }
            .projects_title:hover{
                cursor: pointer;
            }
            #projects_detail_title, {
                margin: 0% 0 4% 4%;
            }
            #projects_detail_des{
                margin: 0% 0 4% 2%;
            }
        

           }
        
        .column4 :hover{
            img{
                transition: 0.3s;
                -webkit-filter: grayscale(100%);
                filter:grayscale(100%);
            }
        }
            
       
        
    }
        

,bubble {
    display: none;
    position: absolute;
    top:0;
    left:0;
    width:200px;
    background:blue;
}
        
        
